<div class="panel panel-default">
  <div class="panel-body panel-heading">
    <div class="col-md-1">
        <div ng-if="$ctrl.usuario.esMujer()">
            <h3 class="glyphicon glyphicon-queen" aria-hidden="true" title="Mujer"></h3>
        </div>
        <div ng-if="!$ctrl.usuario.esMujer()">
            <h3 class="glyphicon glyphicon-king" aria-hidden="true" title="Hombre"></h3>
        </div>
    </div>
    <div class="col-md-11">
        <h3>
            <span class="label label-{{$ctrl.usuarioClass}}">
                {{$ctrl.usuario.nombre}}
            </span>
        </h3>
        <div>{{$ctrl.usuario.fraseCabecera}}</div>
    </div>
  </div>
</div>